@import '../helpers/main_helper.scss';

#home-about-us-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  #home-about-us-left {
    width: 100%;
    max-width: 600px;
    min-height: 509px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    img:first-child {
      object-fit: cover;
      height: 508px;
      width: 100%;
      max-width: 268px;
      flex-basis: 100%;
    }
    img:not(:first-child) {
      object-fit: cover;
      width: 268px;
      height: 239px;
    }
  }

  #home-about-us-right {
    max-width: 482px;
    width: 100%;
    display: flex;
    flex-direction: column;
    button {
      margin-top: 20px;
      align-self: flex-start;
    }
  }
}

#home-whyus-section-wrapper {
  height: 100%;
  min-height: 962px;
  width: 100%;

  #home-whyus-section {
    min-height: 722px;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    #home-whyus-services-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
    .home-whyus-service {
      width: 400px;
      margin: 20px 0;
      padding-right: clamp(40px, 60px, 100px);
      padding-left: clamp(40px, 60px, 100px);
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        margin-bottom: 0;
        font-size: 1.5rem;
        font-family: $cursive-font;
      }
      h3,
      p {
        text-align: center;
      }
      img {
        height: 74px;
        width: 74px;
      }
    }
  }
}

#home-customers-section-wrapper {
  width: 100;
  min-height: 887px;
  height: 100%;
  background-color: #464646;
  background: url('../../img/bg/restaurant-690975_1280.jpg') rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #home-customers-section {
    min-height: 647px;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    #home-customers-header {
      h2,
      p {
        color: white;
      }
    }
    #home-customers-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px;
      .home-customer-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 380px;
        height: 429px;
        padding: 0px 30px;
        background-color: white;
        box-shadow: 5px 5px 10px #00000012;
        img {
          border-radius: 100%;
        }
        p {
          text-align: center;
          margin-top: -10px;
        }
        h3 {
          margin-bottom: 0;
          margin-top: -20px;
          font-size: 1.5rem;
          font-family: $cursive-font;
        }
      }
    }
  }
}

#home-stats-section-wrapper {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.04);
  height: 375px;
  #home-stats-section {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .home-stats-item {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
    }
  }
}
