@import '../helpers/main_helper.scss';

#home-hero {
  margin-top: -60px;
  width: 100%;
  height: 100vh;
  background-color: #464646;
  background: url('../../img/bg/pizza-4319999_1280.jpg') rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-about-us-section-wrapper,
#home-menu-section-wrapper,
#home-whyus-section-wrapper {
  width: 100%;
  min-height: 750px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-menu-section,
#home-whyus-section,
#home-about-us-section {
  max-width: 1200px;
  width: 100%;
  height: 509px;
}

.home-section-header {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  h2,
  p {
    text-align: center;
  }
  h2 {
    margin-top: -30px;
  }
}

@media only screen and (max-width: 600px) {
  #home-about-us-section {
    min-height: 509px;
    height: 100%;
  }
}
