#home-hero {
  margin-top: -60px;
  width: 100%;
  height: 645px;
  background-color: #464646;
  background: url('../../img/header.jpg') rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-about-section-wrapper,
#home-menu-section-wrapper,
#home-whyus-section-wrapper {
  width: 100%;
  height: 750px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-menu-section,
#home-whyus-section {
  width: 1200px;
  height: 509px;
  background-color: red;
}

#home-about-section {
  width: 1200px;
  height: 509px;
}

#home-about-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  #home-about-left {
    width: 100%;
    max-width: 600px;
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    img:first-child {
      object-fit: cover;
      height: 508px;
      width: 100%;
      max-width: 268px;
      flex-basis: 100%;
    }
    img:not(:first-child) {
      object-fit: cover;
      width: 268px;
      height: 239px;
    }
  }

  #home-about-right {
    max-width: 482px;
    width: 100%;
    display: flex;
    flex-direction: column;
    button {
      margin-top: 20px;
      align-self: flex-start;
    }
  }
}

#home-menu-section-wrapper {
  height: 1471px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.04);
}

#home-menu-section {
  width: 1200px;
  height: 1471px;
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#home-menu-header {
  width: 700px;
  h2,
  p {
    text-align: center;
  }
}

#home-menu-items-wrapper {
  height: 890px;
  width: 100%;
  background-color: royalblue;
}
